/Desktop/nbproject/private/
/IntoTheHeavensBase/nbproject/private/
/Android/gen/
/Android/nbandroid/
/IntoTheHeavensBase/dist/
/Desktop/dist/
/IntoTheHeavensBase/build/
/Desktop/build/
/Android/local.properties
